
obj/Debug/net5.0/ref/FlagApi.dll
obj/Debug/net5.0/FlagApi.dll
bin/Debug/net5.0/ref/FlagApi.dll
bin/Debug/net5.0/FlagApi.pdb
bin/Debug/net5.0/FlagApi.dll
bin/Debug/net5.0/ref/FlagApi.dll
bin/Debug/net5.0/FlagApi.dll
bin/Debug/net5.0/FlagApi.pdb
Files/.DS_Store
Files/d3b824c6-d242-4ad6-85f6-eca7759be65e_1655124059756.jpg
obj/Debug/net5.0/FlagApi.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/FlagApi.dll
obj/Debug/net5.0/FlagApi.pdb
obj/Debug/net5.0/ref/FlagApi.dll
